/*
 * Marketing API
 *
 * Marketing API
 *
 * API version: 3.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package api

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"

	"github.com/antihax/optional"
	"github.com/tencentad/marketing-api-go-sdk/pkg/errors"
	"github.com/tencentad/marketing-api-go-sdk/pkg/model"
	. "github.com/tencentad/marketing-api-go-sdk/pkg/model/v3"
)

// Linger please
var (
	_ context.Context
)

type CreativeTemplateApiService service

/*
CreativeTemplateApiService 获取创意形式详情
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param accountId
 * @param marketingGoal
 * @param marketingTargetType
 * @param marketingCarrierType
 * @param deliveryMode
 * @param optional nil or *CreativeTemplateGetOpts - Optional Parameters:
     * @param "MarketingSubGoal" (optional.String) -
     * @param "AutomaticSiteEnabled" (optional.Bool) -
     * @param "SiteSet" (optional.Interface of []string) -
     * @param "DynamicCreativeType" (optional.String) -
     * @param "CreativeTemplateId" (optional.Int64) -
     * @param "UseNewVersion" (optional.Bool) -
     * @param "Fields" (optional.Interface of []string) -  返回参数的字段列表

@return CreativeTemplateGetResponse
*/

type CreativeTemplateGetOpts struct {
	MarketingSubGoal     optional.String
	AutomaticSiteEnabled optional.Bool
	SiteSet              optional.Interface
	DynamicCreativeType  optional.String
	CreativeTemplateId   optional.Int64
	UseNewVersion        optional.Bool
	Fields               optional.Interface
}

func (a *CreativeTemplateApiService) Get(ctx context.Context, accountId int64, marketingGoal string, marketingTargetType string, marketingCarrierType string, deliveryMode string, localVarOptionals *CreativeTemplateGetOpts) (CreativeTemplateGetResponseData, http.Header, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarFileKey     string
		localVarReturnValue CreativeTemplateGetResponseData
		localVarResponse    CreativeTemplateGetResponse
	)

	// create path and map variables
	localVarPath := a.client.Cfg.BasePath + "/creative_template/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarQueryParams.Add("account_id", parameterToString(accountId, ""))
	localVarQueryParams.Add("marketing_goal", parameterToString(marketingGoal, ""))
	if localVarOptionals != nil && localVarOptionals.MarketingSubGoal.IsSet() {
		localVarQueryParams.Add("marketing_sub_goal", parameterToString(localVarOptionals.MarketingSubGoal.Value(), ""))
	}
	localVarQueryParams.Add("marketing_target_type", parameterToString(marketingTargetType, ""))
	localVarQueryParams.Add("marketing_carrier_type", parameterToString(marketingCarrierType, ""))
	if localVarOptionals != nil && localVarOptionals.AutomaticSiteEnabled.IsSet() {
		localVarQueryParams.Add("automatic_site_enabled", parameterToString(localVarOptionals.AutomaticSiteEnabled.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.SiteSet.IsSet() {
		localVarQueryParams.Add("site_set", parameterToString(localVarOptionals.SiteSet.Value(), "multi"))
	}
	localVarQueryParams.Add("delivery_mode", parameterToString(deliveryMode, ""))
	if localVarOptionals != nil && localVarOptionals.DynamicCreativeType.IsSet() {
		localVarQueryParams.Add("dynamic_creative_type", parameterToString(localVarOptionals.DynamicCreativeType.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CreativeTemplateId.IsSet() {
		localVarQueryParams.Add("creative_template_id", parameterToString(localVarOptionals.CreativeTemplateId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.UseNewVersion.IsSet() {
		localVarQueryParams.Add("use_new_version", parameterToString(localVarOptionals.UseNewVersion.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), "multi"))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes, localVarFileKey)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, nil, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	defer localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarResponse, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			if *localVarResponse.Code != 0 {
				var localVarResponseErrors []model.ApiErrorStruct
				if localVarResponse.Errors != nil {
					localVarResponseErrors = *localVarResponse.Errors
				}
				err = errors.NewError(localVarResponse.Code, localVarResponse.Message, localVarResponse.MessageCn, localVarResponseErrors)
				return localVarReturnValue, localVarHttpResponse.Header, err
			}
			if localVarResponse.Data == nil {
				return localVarReturnValue, localVarHttpResponse.Header, err
			} else {
				return *localVarResponse.Data, localVarHttpResponse.Header, err
			}
		} else {
			return localVarReturnValue, localVarHttpResponse.Header, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}

		if localVarHttpResponse.StatusCode == 200 {
			var v CreativeTemplateGetResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse.Header, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse.Header, newErr
		}

		return localVarReturnValue, localVarHttpResponse.Header, newErr
	}

	return localVarReturnValue, localVarHttpResponse.Header, nil
}
