/*
 * Marketing API
 *
 * Marketing API
 *
 * API version: 3.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package api

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"

	"github.com/antihax/optional"
	"github.com/tencentad/marketing-api-go-sdk/pkg/errors/v3"
	. "github.com/tencentad/marketing-api-go-sdk/pkg/model/v3"
)

// Linger please
var (
	_ context.Context
)

type ProgrammedTemplateApiService service

/*
ProgrammedTemplateApiService 获取模板列表接口
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param accountId
 * @param materialDeriveId
 * @param materialGroupId
 * @param materialDerivePreviewId
 * @param optional nil or *ProgrammedTemplateGetOpts - Optional Parameters:
     * @param "TemplateIdList" (optional.Interface of []int64) -
     * @param "KeyWord" (optional.String) -
     * @param "SortBy" (optional.Interface of []SortByStruct) -
     * @param "PageInfo" (optional.Interface of PageInfoStruct) -
     * @param "Fields" (optional.Interface of []string) -  返回参数的字段列表

@return ProgrammedTemplateGetResponse
*/

type ProgrammedTemplateGetOpts struct {
	TemplateIdList optional.Interface
	KeyWord        optional.String
	SortBy         optional.Interface
	PageInfo       optional.Interface
	Fields         optional.Interface
}

func (a *ProgrammedTemplateApiService) Get(ctx context.Context, accountId int64, materialDeriveId int64, materialGroupId int64, materialDerivePreviewId int64, localVarOptionals *ProgrammedTemplateGetOpts) (ProgrammedTemplateGetResponseData, http.Header, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarFileKey     string
		localVarReturnValue ProgrammedTemplateGetResponseData
		localVarResponse    ProgrammedTemplateGetResponse
	)

	// create path and map variables
	localVarPath := a.client.Cfg.BasePath + "/programmed_template/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarQueryParams.Add("account_id", parameterToString(accountId, ""))
	localVarQueryParams.Add("material_derive_id", parameterToString(materialDeriveId, ""))
	localVarQueryParams.Add("material_group_id", parameterToString(materialGroupId, ""))
	localVarQueryParams.Add("material_derive_preview_id", parameterToString(materialDerivePreviewId, ""))
	if localVarOptionals != nil && localVarOptionals.TemplateIdList.IsSet() {
		localVarQueryParams.Add("template_id_list", parameterToString(localVarOptionals.TemplateIdList.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.KeyWord.IsSet() {
		localVarQueryParams.Add("key_word", parameterToString(localVarOptionals.KeyWord.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.SortBy.IsSet() {
		localVarQueryParams.Add("sort_by", parameterToString(localVarOptionals.SortBy.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.PageInfo.IsSet() {
		localVarQueryParams.Add("page_info", parameterToString(localVarOptionals.PageInfo.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), "multi"))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes, localVarFileKey)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, nil, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	defer localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarResponse, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			if *localVarResponse.Code != 0 {
				var localVarResponseErrors []ApiErrorStruct
				if localVarResponse.Errors != nil {
					localVarResponseErrors = *localVarResponse.Errors
				}
				err = errors.NewError(localVarResponse.Code, localVarResponse.Message, localVarResponse.MessageCn, localVarResponseErrors)
				return localVarReturnValue, localVarHttpResponse.Header, err
			}
			if localVarResponse.Data == nil {
				return localVarReturnValue, localVarHttpResponse.Header, err
			} else {
				return *localVarResponse.Data, localVarHttpResponse.Header, err
			}
		} else {
			return localVarReturnValue, localVarHttpResponse.Header, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}

		if localVarHttpResponse.StatusCode == 200 {
			var v ProgrammedTemplateGetResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse.Header, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse.Header, newErr
		}

		return localVarReturnValue, localVarHttpResponse.Header, newErr
	}

	return localVarReturnValue, localVarHttpResponse.Header, nil
}
