/*
 * Marketing API
 *
 * Marketing API
 *
 * API version: 3.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package api

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"

	"github.com/antihax/optional"
	"github.com/tencentad/marketing-api-go-sdk/pkg/errors"
	"github.com/tencentad/marketing-api-go-sdk/pkg/model"
	. "github.com/tencentad/marketing-api-go-sdk/pkg/model/v3"
)

// Linger please
var (
	_ context.Context
)

type KeywordRecommendApiService service

/*
KeywordRecommendApiService 获取关键词推荐结果
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param siteSets
 * @param recommendCategory
 * @param accountId
 * @param systemIndustryId
 * @param optional nil or *KeywordRecommendGetOpts - Optional Parameters:
     * @param "QueryWord" (optional.Interface of []string) -
     * @param "BusinessPointId" (optional.String) -
     * @param "AdgroupId" (optional.Int64) -
     * @param "CampaignId" (optional.Int64) -
     * @param "IncludeWord" (optional.Interface of []string) -
     * @param "ExcludeWord" (optional.Interface of []string) -
     * @param "FilterAdWord" (optional.Bool) -
     * @param "FilterAccountWord" (optional.Bool) -
     * @param "RecommendReasons" (optional.Interface of []string) -
     * @param "Province" (optional.Interface of []int64) -
     * @param "City" (optional.Interface of []int64) -
     * @param "OrderBy" (optional.Interface of []OrderByStructInfo) -
     * @param "Fields" (optional.Interface of []string) -  返回参数的字段列表

@return KeywordRecommendGetResponse
*/

type KeywordRecommendGetOpts struct {
	QueryWord         optional.Interface
	BusinessPointId   optional.String
	AdgroupId         optional.Int64
	CampaignId        optional.Int64
	IncludeWord       optional.Interface
	ExcludeWord       optional.Interface
	FilterAdWord      optional.Bool
	FilterAccountWord optional.Bool
	RecommendReasons  optional.Interface
	Province          optional.Interface
	City              optional.Interface
	OrderBy           optional.Interface
	Fields            optional.Interface
}

func (a *KeywordRecommendApiService) Get(ctx context.Context, siteSets []string, recommendCategory string, accountId int64, systemIndustryId int64, localVarOptionals *KeywordRecommendGetOpts) (KeywordRecommendGetResponseData, http.Header, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarFileKey     string
		localVarReturnValue KeywordRecommendGetResponseData
		localVarResponse    KeywordRecommendGetResponse
	)

	// create path and map variables
	localVarPath := a.client.Cfg.BasePath + "/keyword_recommend/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarQueryParams.Add("site_sets", parameterToString(siteSets, "multi"))
	localVarQueryParams.Add("recommend_category", parameterToString(recommendCategory, ""))
	localVarQueryParams.Add("account_id", parameterToString(accountId, ""))
	localVarQueryParams.Add("system_industry_id", parameterToString(systemIndustryId, ""))
	if localVarOptionals != nil && localVarOptionals.QueryWord.IsSet() {
		localVarQueryParams.Add("query_word", parameterToString(localVarOptionals.QueryWord.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.BusinessPointId.IsSet() {
		localVarQueryParams.Add("business_point_id", parameterToString(localVarOptionals.BusinessPointId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.AdgroupId.IsSet() {
		localVarQueryParams.Add("adgroup_id", parameterToString(localVarOptionals.AdgroupId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CampaignId.IsSet() {
		localVarQueryParams.Add("campaign_id", parameterToString(localVarOptionals.CampaignId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.IncludeWord.IsSet() {
		localVarQueryParams.Add("include_word", parameterToString(localVarOptionals.IncludeWord.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.ExcludeWord.IsSet() {
		localVarQueryParams.Add("exclude_word", parameterToString(localVarOptionals.ExcludeWord.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.FilterAdWord.IsSet() {
		localVarQueryParams.Add("filter_ad_word", parameterToString(localVarOptionals.FilterAdWord.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.FilterAccountWord.IsSet() {
		localVarQueryParams.Add("filter_account_word", parameterToString(localVarOptionals.FilterAccountWord.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.RecommendReasons.IsSet() {
		localVarQueryParams.Add("recommend_reasons", parameterToString(localVarOptionals.RecommendReasons.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Province.IsSet() {
		localVarQueryParams.Add("province", parameterToString(localVarOptionals.Province.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.City.IsSet() {
		localVarQueryParams.Add("city", parameterToString(localVarOptionals.City.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.OrderBy.IsSet() {
		localVarQueryParams.Add("order_by", parameterToString(localVarOptionals.OrderBy.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), "multi"))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes, localVarFileKey)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, nil, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	defer localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarResponse, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			if *localVarResponse.Code != 0 {
				var localVarResponseErrors []model.ApiErrorStruct
				if localVarResponse.Errors != nil {
					localVarResponseErrors = *localVarResponse.Errors
				}
				err = errors.NewError(localVarResponse.Code, localVarResponse.Message, localVarResponse.MessageCn, localVarResponseErrors)
				return localVarReturnValue, localVarHttpResponse.Header, err
			}
			if localVarResponse.Data == nil {
				return localVarReturnValue, localVarHttpResponse.Header, err
			} else {
				return *localVarResponse.Data, localVarHttpResponse.Header, err
			}
		} else {
			return localVarReturnValue, localVarHttpResponse.Header, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}

		if localVarHttpResponse.StatusCode == 200 {
			var v KeywordRecommendGetResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse.Header, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse.Header, newErr
		}

		return localVarReturnValue, localVarHttpResponse.Header, newErr
	}

	return localVarReturnValue, localVarHttpResponse.Header, nil
}
