/*
 * Marketing API
 *
 * Marketing API
 *
 * API version: 3.0
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */

package api

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"

	"github.com/antihax/optional"
	"github.com/tencentad/marketing-api-go-sdk/pkg/errors"
	"github.com/tencentad/marketing-api-go-sdk/pkg/model"
	. "github.com/tencentad/marketing-api-go-sdk/pkg/model/v3"
)

// Linger please
var (
	_ context.Context
)

type CreativetoolsTextApiService service

/*
CreativetoolsTextApiService 获取广告文案
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param accountId
 * @param maxTextLength
 * @param optional nil or *CreativetoolsTextGetOpts - Optional Parameters:
     * @param "Keyword" (optional.String) -
     * @param "Filtering" (optional.Interface of []int64) -
     * @param "Number" (optional.Int64) -
     * @param "CategoryFirstLevel" (optional.Int64) -
     * @param "CategorySecondLevel" (optional.Int64) -
     * @param "ProductCatalogId" (optional.Int64) -
     * @param "ProductOuterIds" (optional.Interface of []string) -
     * @param "Fields" (optional.Interface of []string) -  返回参数的字段列表

@return CreativetoolsTextGetResponse
*/

type CreativetoolsTextGetOpts struct {
	Keyword             optional.String
	Filtering           optional.Interface
	Number              optional.Int64
	CategoryFirstLevel  optional.Int64
	CategorySecondLevel optional.Int64
	ProductCatalogId    optional.Int64
	ProductOuterIds     optional.Interface
	Fields              optional.Interface
}

func (a *CreativetoolsTextApiService) Get(ctx context.Context, accountId int64, maxTextLength int64, localVarOptionals *CreativetoolsTextGetOpts) (CreativetoolsTextGetResponseData, http.Header, error) {
	var (
		localVarHttpMethod  = strings.ToUpper("Get")
		localVarPostBody    interface{}
		localVarFileName    string
		localVarFileBytes   []byte
		localVarFileKey     string
		localVarReturnValue CreativetoolsTextGetResponseData
		localVarResponse    CreativetoolsTextGetResponse
	)

	// create path and map variables
	localVarPath := a.client.Cfg.BasePath + "/creativetools_text/get"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	localVarQueryParams.Add("account_id", parameterToString(accountId, ""))
	localVarQueryParams.Add("max_text_length", parameterToString(maxTextLength, ""))
	if localVarOptionals != nil && localVarOptionals.Keyword.IsSet() {
		localVarQueryParams.Add("keyword", parameterToString(localVarOptionals.Keyword.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Filtering.IsSet() {
		localVarQueryParams.Add("filtering", parameterToString(localVarOptionals.Filtering.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Number.IsSet() {
		localVarQueryParams.Add("number", parameterToString(localVarOptionals.Number.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CategoryFirstLevel.IsSet() {
		localVarQueryParams.Add("category_first_level", parameterToString(localVarOptionals.CategoryFirstLevel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.CategorySecondLevel.IsSet() {
		localVarQueryParams.Add("category_second_level", parameterToString(localVarOptionals.CategorySecondLevel.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ProductCatalogId.IsSet() {
		localVarQueryParams.Add("product_catalog_id", parameterToString(localVarOptionals.ProductCatalogId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.ProductOuterIds.IsSet() {
		localVarQueryParams.Add("product_outer_ids", parameterToString(localVarOptionals.ProductOuterIds.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Fields.IsSet() {
		localVarQueryParams.Add("fields", parameterToString(localVarOptionals.Fields.Value(), "multi"))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{"text/plain"}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes, localVarFileKey)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, nil, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	defer localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, nil, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarResponse, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
		if err == nil {
			if *localVarResponse.Code != 0 {
				var localVarResponseErrors []model.ApiErrorStruct
				if localVarResponse.Errors != nil {
					localVarResponseErrors = *localVarResponse.Errors
				}
				err = errors.NewError(localVarResponse.Code, localVarResponse.Message, localVarResponse.MessageCn, localVarResponseErrors)
				return localVarReturnValue, localVarHttpResponse.Header, err
			}
			if localVarResponse.Data == nil {
				return localVarReturnValue, localVarHttpResponse.Header, err
			} else {
				return *localVarResponse.Data, localVarHttpResponse.Header, err
			}
		} else {
			return localVarReturnValue, localVarHttpResponse.Header, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body:  localVarBody,
			error: localVarHttpResponse.Status,
		}

		if localVarHttpResponse.StatusCode == 200 {
			var v CreativetoolsTextGetResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHttpResponse.Header, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHttpResponse.Header, newErr
		}

		return localVarReturnValue, localVarHttpResponse.Header, newErr
	}

	return localVarReturnValue, localVarHttpResponse.Header, nil
}
