---
swagger: "2.0"
info:
  description: "Marketing API"
  version: "1.2"
  title: "Marketing API"
  termsOfService: "http://developers.e.qq.com/"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "sandbox-api.e.qq.com"
basePath: "/v1.2"
schemes:
- "https"
paths:
  /authorization/wechat_bind:
    get:
      tags:
      - "authorization"
      summary: "绑定微信公众号(待废弃)"
      operationId: "authorization_wechat_bind"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "access_token"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "AccessToken"
      - name: "redirect_uri"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "RedirectUri"
      - name: "account_id"
        in: "query"
        description: "需绑定公众号的广告主 id，有操作权限的帐号 id"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "wechat_account_id"
        in: "query"
        description: "微信公众号id，用于判断扫描的公众号与请求时的wechat_account_id是否一致"
        required: false
        type: "string"
        x-exportParamName: "WechatAccountId"
        x-optionalDataType: "String"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            type: "string"
  /oauth/authorize:
    get:
      tags:
      - "oauth"
      summary: "获取Authorization Code"
      operationId: "oauth_authorize"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "client_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ClientId"
      - name: "redirect_uri"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "RedirectUri"
      - name: "state"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "State"
        x-optionalDataType: "String"
      - name: "scope"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "Scope"
        x-optionalDataType: "String"
      - name: "account_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "AccountType"
        x-optionalDataType: "String"
      - name: "account_display_number"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountDisplayNumber"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            type: "string"
  /oauth/token:
    get:
      tags:
      - "oauth"
      summary: "通过Authorization Code获取Access Token或刷新Access Token"
      operationId: "oauth_token"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "client_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ClientId"
      - name: "client_secret"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "ClientSecret"
      - name: "grant_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "GrantType"
      - name: "authorization_code"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "AuthorizationCode"
        x-optionalDataType: "String"
      - name: "refresh_token"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "RefreshToken"
        x-optionalDataType: "String"
      - name: "redirect_uri"
        in: "query"
        description: "应用回调地址，当 grant_type=authorization_code时，redirect_uri 为必传参数，仅\
          支持 http 和 https，不支持指定端口号，且传入的地址需要与获取authorization_code时，传入的回调地址保持一致"
        required: false
        type: "string"
        x-exportParamName: "RedirectUri"
        x-optionalDataType: "String"
      responses:
        "200":
          schema:
            $ref: "#/definitions/OauthTokenResponse"
  /wechat_advertiser_specification/get:
    get:
      tags:
      - "wechat_advertiser_specification"
      summary: "获取微信广告主信息"
      operationId: "wechat_advertiser_specification_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatAdvertiserSpecificationGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /playable_pages/get:
    get:
      tags:
      - "playable_pages"
      summary: "获取互动推广页"
      operationId: "playable_pages_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/PlayablePagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /playable_pages/add:
    post:
      tags:
      - "playable_pages"
      summary: "添加互动推广页"
      operationId: "playable_pages_add"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "formData"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "playable_page_name"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "PlayablePageName"
      - name: "material_file"
        in: "formData"
        required: true
        type: "file"
        x-exportParamName: "MaterialFile"
      responses:
        "200":
          schema:
            $ref: "#/definitions/PlayablePagesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_reports/add:
    post:
      tags:
      - "async_reports"
      summary: "创建异步报表任务"
      operationId: "async_reports_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AsyncReportsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AsyncReportsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_reports/get:
    get:
      tags:
      - "async_reports"
      summary: "获取异步报表任务"
      operationId: "async_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AsyncReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_report_files/get:
    get:
      tags:
      - "async_report_files"
      summary: "获取文件接口"
      operationId: "async_report_files_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "task_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TaskId"
      - name: "file_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FileId"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AsyncReportFilesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_daily_cost/get:
    get:
      tags:
      - "wechat_daily_cost"
      summary: "获取微信账户实时消耗"
      operationId: "wechat_daily_cost_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatDailyCostGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /business_manager_relations/get:
    get:
      tags:
      - "business_manager_relations"
      summary: "获取商务管家代理的广告主列表"
      operationId: "business_manager_relations_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/BusinessManagerRelationsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_agency/get:
    get:
      tags:
      - "wechat_agency"
      summary: "获取微信服务商信息"
      operationId: "wechat_agency_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatAgencyGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /daily_cost/get:
    get:
      tags:
      - "daily_cost"
      summary: "【待废弃，请使用新接口wechat_daily_cost/get】获取微信账户实时消耗"
      operationId: "daily_cost_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/report_date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/DailyCostGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /dynamic_ad_images/add:
    post:
      tags:
      - "dynamic_ad_images"
      summary: "创建用于广告投放的动态广告图片"
      operationId: "dynamic_ad_images_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/DynamicAdImagesAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/DynamicAdImagesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /dynamic_ad_images/get:
    get:
      tags:
      - "dynamic_ad_images"
      summary: "获取动态广告图片信息"
      operationId: "dynamic_ad_images_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/DynamicAdImagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /android_channel_packages/get:
    get:
      tags:
      - "android_channel_packages"
      summary: "获取应用宝渠道包"
      operationId: "android_channel_packages_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "myapp_auth_key"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "MyappAuthKey"
      - name: "android_app_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AndroidAppId"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AndroidChannelPackagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /ads/update_configured_status:
    post:
      tags:
      - "ads"
      summary: "更新广告状态"
      operationId: "ads_update_configured_status"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdsUpdateConfiguredStatusRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdsUpdateConfiguredStatusResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /videos/add:
    post:
      tags:
      - "videos"
      summary: "添加视频文件"
      operationId: "videos_add"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "formData"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "video_file"
        in: "formData"
        required: true
        type: "file"
        x-exportParamName: "VideoFile"
      - name: "signature"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "Signature"
      - name: "description"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Description"
        x-optionalDataType: "String"
      - name: "adcreative_template_id"
        in: "formData"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AdcreativeTemplateId"
        x-optionalDataType: "Int64"
      responses:
        "200":
          schema:
            $ref: "#/definitions/VideosAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /videos/get:
    get:
      tags:
      - "videos"
      summary: "获取视频文件"
      operationId: "videos_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/VideosGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_fund_statements_detailed/get:
    get:
      tags:
      - "wechat_fund_statements_detailed"
      summary: "获取微信资金账户流水信息"
      operationId: "wechat_fund_statements_detailed_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "trade_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "TradeType"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatFundStatementsDetailedGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /asset_permissions/add:
    post:
      tags:
      - "asset_permissions"
      summary: "资产权限授予"
      operationId: "asset_permissions_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AssetPermissionsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AssetPermissionsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /asset_permissions/delete:
    post:
      tags:
      - "asset_permissions"
      summary: "资产权限回收"
      operationId: "asset_permissions_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AssetPermissionsDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AssetPermissionsDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /android_union_channel_packages/get:
    get:
      tags:
      - "android_union_channel_packages"
      summary: "获取广告渠道包"
      operationId: "android_union_channel_packages_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "android_union_app_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AndroidUnionAppId"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AndroidUnionChannelPackagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /conversions/add:
    post:
      tags:
      - "conversions"
      summary: "新增转化归因"
      operationId: "conversions_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/ConversionsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/ConversionsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /conversions/get:
    get:
      tags:
      - "conversions"
      summary: "获取转化归因"
      operationId: "conversions_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/ConversionsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/add:
    post:
      tags:
      - "campaigns"
      summary: "创建推广计划"
      operationId: "campaigns_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/CampaignsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/update:
    post:
      tags:
      - "campaigns"
      summary: "更新推广计划"
      operationId: "campaigns_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/CampaignsUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/get:
    get:
      tags:
      - "campaigns"
      summary: "获取推广计划"
      operationId: "campaigns_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "is_deleted"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsDeleted"
        x-optionalDataType: "Bool"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/delete:
    post:
      tags:
      - "campaigns"
      summary: "删除推广计划"
      operationId: "campaigns_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/CampaignsDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/update_daily_budget:
    post:
      tags:
      - "campaigns"
      summary: "更新推广计划日限额信息"
      operationId: "campaigns_update_daily_budget"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/CampaignsUpdateDailyBudgetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsUpdateDailyBudgetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /campaigns/update_configured_status:
    post:
      tags:
      - "campaigns"
      summary: "更新推广计划状态"
      operationId: "campaigns_update_configured_status"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/CampaignsUpdateConfiguredStatusRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CampaignsUpdateConfiguredStatusResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_advertiser_detail/get:
    get:
      tags:
      - "wechat_advertiser_detail"
      summary: "【待废弃，请使用新接口wechat_advertiser_specification/get】获取微信广告主信息"
      operationId: "wechat_advertiser_detail_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatAdvertiserDetailGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /advertiser/add:
    post:
      tags:
      - "advertiser"
      summary: "添加服务商子客户"
      operationId: "advertiser_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdvertiserAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdvertiserAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /advertiser/update:
    post:
      tags:
      - "advertiser"
      summary: "更新广告主信息"
      operationId: "advertiser_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdvertiserUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdvertiserUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /advertiser/update_daily_budget:
    post:
      tags:
      - "advertiser"
      summary: "更新广告主日限额信息"
      operationId: "advertiser_update_daily_budget"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdvertiserUpdateDailyBudgetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdvertiserUpdateDailyBudgetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /batch_requests/add:
    post:
      tags:
      - "batch_requests"
      summary: "创建批量请求"
      operationId: "batch_requests_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/BatchRequestsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/BatchRequestsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_tasks/add:
    post:
      tags:
      - "async_tasks"
      summary: "创建异步任务"
      operationId: "async_tasks_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AsyncTasksAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AsyncTasksAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_tasks/get:
    get:
      tags:
      - "async_tasks"
      summary: "获取异步任务"
      operationId: "async_tasks_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AsyncTasksGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /async_task_files/get:
    get:
      tags:
      - "async_task_files"
      summary: "获取文件接口"
      operationId: "async_task_files_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "task_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "TaskId"
      - name: "file_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "FileId"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            type: "string"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/update_daily_budget:
    post:
      tags:
      - "adgroups"
      summary: "更新广告组日限额信息"
      operationId: "adgroups_update_daily_budget"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsUpdateDailyBudgetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsUpdateDailyBudgetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/update_configured_status:
    post:
      tags:
      - "adgroups"
      summary: "更新广告组状态"
      operationId: "adgroups_update_configured_status"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsUpdateConfiguredStatusRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsUpdateConfiguredStatusResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/update_datetime:
    post:
      tags:
      - "adgroups"
      summary: "更新广告组投放时间"
      operationId: "adgroups_update_datetime"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsUpdateDatetimeRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsUpdateDatetimeResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/update_bid_amount:
    post:
      tags:
      - "adgroups"
      summary: "更新广告组出价"
      operationId: "adgroups_update_bid_amount"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsUpdateBidAmountRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsUpdateBidAmountResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_ad_followers/get:
    get:
      tags:
      - "wechat_ad_followers"
      summary: "获取微信广告关注信息"
      operationId: "wechat_ad_followers_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "time_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/time_range"
        x-exportParamName: "TimeRange"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatAdFollowersGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /qualifications/add:
    post:
      tags:
      - "qualifications"
      summary: "创建广告主资质"
      operationId: "qualifications_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/QualificationsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/QualificationsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /qualifications/update:
    post:
      tags:
      - "qualifications"
      summary: "更新广告主资质"
      operationId: "qualifications_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/QualificationsUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/QualificationsUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /qualifications/get:
    get:
      tags:
      - "qualifications"
      summary: "获取广告主资质"
      operationId: "qualifications_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "qualification_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "QualificationType"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/QualificationsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /qualifications/delete:
    post:
      tags:
      - "qualifications"
      summary: "删除广告主资质"
      operationId: "qualifications_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/QualificationsDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/QualificationsDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_leads/get:
    get:
      tags:
      - "wechat_leads"
      summary: "获取销售线索"
      operationId: "wechat_leads_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "date_range"
        in: "query"
        required: false
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "time_range"
        in: "query"
        required: false
        type: "object"
        items:
          $ref: "../common.json#/definitions/time_range"
        x-exportParamName: "TimeRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatLeadsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /images/get:
    get:
      tags:
      - "images"
      summary: "获取图片信息"
      operationId: "images_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/ImagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /images/add:
    post:
      tags:
      - "images"
      summary: "添加图片文件"
      operationId: "images_add"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "formData"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "upload_type"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "UploadType"
      - name: "signature"
        in: "formData"
        required: true
        type: "string"
        x-exportParamName: "Signature"
      - name: "file"
        in: "formData"
        required: false
        type: "file"
        x-exportParamName: "File"
      - name: "bytes"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Bytes"
        x-optionalDataType: "String"
      - name: "description"
        in: "formData"
        required: false
        type: "string"
        x-exportParamName: "Description"
        x-optionalDataType: "String"
      responses:
        "200":
          schema:
            $ref: "#/definitions/ImagesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /daily_reports/get:
    get:
      tags:
      - "daily_reports"
      summary: "获取日报表"
      operationId: "daily_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "level"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Level"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/report_date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "group_by"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "GroupBy"
      - name: "order_by"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "#/definitions/order_by_struct"
        collectionFormat: "multi"
        x-exportParamName: "OrderBy"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "time_line"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TimeLine"
        x-optionalDataType: "String"
      - name: "fields"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/DailyReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /hourly_reports/get:
    get:
      tags:
      - "hourly_reports"
      summary: "获取小时报表"
      operationId: "hourly_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "level"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Level"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "group_by"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "GroupBy"
      - name: "order_by"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "#/definitions/order_by_struct"
        collectionFormat: "multi"
        x-exportParamName: "OrderBy"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "time_line"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TimeLine"
        x-optionalDataType: "String"
      - name: "fields"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/HourlyReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /targeting_tag_reports/get:
    get:
      tags:
      - "targeting_tag_reports"
      summary: "获取定向标签报表"
      operationId: "targeting_tag_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Type_"
      - name: "level"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Level"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/report_date_range"
        x-exportParamName: "DateRange"
      - name: "pos_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PosType"
        x-optionalDataType: "String"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "group_by"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "GroupBy"
      - name: "order_by"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "#/definitions/order_by_struct"
        collectionFormat: "multi"
        x-exportParamName: "OrderBy"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "time_line"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TimeLine"
        x-optionalDataType: "String"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/TargetingTagReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /product_catalogs_reports/get:
    get:
      tags:
      - "product_catalogs_reports"
      summary: "获取商品库报表"
      operationId: "product_catalogs_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "product_catalog_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "ProductCatalogId"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/report_date_range"
        x-exportParamName: "DateRange"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "group_by"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "GroupBy"
      - name: "order_by"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "#/definitions/order_by_struct"
        collectionFormat: "multi"
        x-exportParamName: "OrderBy"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/ProductCatalogsReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /estimation/get:
    post:
      tags:
      - "estimation"
      summary: "预估覆盖人数"
      operationId: "estimation_get"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/EstimationGetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/EstimationGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /targeting_tags/get:
    get:
      tags:
      - "targeting_tags"
      summary: "获取定向标签"
      operationId: "targeting_tags_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Type_"
      - name: "tag_spec"
        in: "query"
        required: false
        type: "object"
        items:
          $ref: "#/definitions/tag_spec"
        x-exportParamName: "TagSpec"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/TargetingTagsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /tracking_reports/get:
    get:
      tags:
      - "tracking_reports"
      summary: "点击追踪报表"
      operationId: "tracking_reports_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "time_granularity"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TimeGranularity"
        x-optionalDataType: "String"
      - name: "promoted_object_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PromotedObjectType"
        x-optionalDataType: "String"
      - name: "promoted_object_id"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "PromotedObjectId"
        x-optionalDataType: "String"
      - name: "feedback_url"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "FeedbackUrl"
        x-optionalDataType: "String"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/TrackingReportsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_templates/get:
    get:
      tags:
      - "adcreative_templates"
      summary: "获取创意规格信息"
      operationId: "adcreative_templates_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativeTemplatesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_template_detail/get:
    get:
      tags:
      - "adcreative_template_detail"
      summary: "获取创意规格信息"
      operationId: "adcreative_template_detail_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "adcreative_template_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AdcreativeTemplateId"
      - name: "promoted_object_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "PromotedObjectType"
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "automatic_site_enabled"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "AutomaticSiteEnabled"
        x-optionalDataType: "Bool"
      - name: "site_set"
        in: "query"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "SiteSet"
      - name: "is_dynamic_creative_ad"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsDynamicCreativeAd"
        x-optionalDataType: "Bool"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativeTemplateDetailGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /capabilities/get:
    get:
      tags:
      - "capabilities"
      summary: "查询广告相关权限"
      operationId: "capabilities_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "capability"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "Capability"
      - name: "query_spec"
        in: "query"
        required: false
        type: "object"
        items:
          $ref: "#/definitions/query_spec"
        x-exportParamName: "QuerySpec"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/CapabilitiesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /optimization_goal_permissions/get:
    get:
      tags:
      - "optimization_goal_permissions"
      summary: "查询优化目标权限"
      operationId: "optimization_goal_permissions_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "site_set"
        in: "query"
        required: true
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "SiteSet"
      - name: "promoted_object_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "PromotedObjectType"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/OptimizationGoalPermissionsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /leads/get:
    get:
      tags:
      - "leads"
      summary: "获取销售线索"
      operationId: "leads_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "time_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/time_range"
        x-exportParamName: "TimeRange"
      - name: "position_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "PositionType"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/LeadsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/add:
    post:
      tags:
      - "adgroups"
      summary: "创建广告组"
      operationId: "adgroups_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/update:
    post:
      tags:
      - "adgroups"
      summary: "更新广告组"
      operationId: "adgroups_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/delete:
    post:
      tags:
      - "adgroups"
      summary: "删除广告组"
      operationId: "adgroups_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdgroupsDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adgroups/get:
    get:
      tags:
      - "adgroups"
      summary: "获取广告组"
      operationId: "adgroups_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "is_deleted"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsDeleted"
        x-optionalDataType: "Bool"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdgroupsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /system_status/get:
    get:
      tags:
      - "system_status"
      summary: "获取广告组系统状态信息"
      operationId: "system_status_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "status_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "StatusType"
      - name: "status_spec"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/status_spec"
        x-exportParamName: "StatusSpec"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/SystemStatusGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_template_previews/get:
    post:
      tags:
      - "adcreative_template_previews"
      summary: "获取广告创意预览"
      operationId: "adcreative_template_previews_get"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativeTemplatePreviewsGetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativeTemplatePreviewsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_template_preview/get:
    post:
      tags:
      - "adcreative_template_preview"
      summary: "获取广告创意预览（待废弃）"
      operationId: "adcreative_template_preview_get"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativeTemplatePreviewGetRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativeTemplatePreviewGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /ads/add:
    post:
      tags:
      - "ads"
      summary: "创建广告"
      operationId: "ads_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /ads/update:
    post:
      tags:
      - "ads"
      summary: "更新广告"
      operationId: "ads_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdsUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdsUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /ads/delete:
    post:
      tags:
      - "ads"
      summary: "删除广告"
      operationId: "ads_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdsDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdsDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /ads/get:
    get:
      tags:
      - "ads"
      summary: "获取广告"
      operationId: "ads_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "is_deleted"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsDeleted"
        x-optionalDataType: "Bool"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreatives/add:
    post:
      tags:
      - "adcreatives"
      summary: "创建广告创意"
      operationId: "adcreatives_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativesAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreatives/update:
    post:
      tags:
      - "adcreatives"
      summary: "更新广告创意"
      operationId: "adcreatives_update"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativesUpdateRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativesUpdateResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreatives/delete:
    post:
      tags:
      - "adcreatives"
      summary: "删除广告创意"
      operationId: "adcreatives_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativesDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativesDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreatives/get:
    get:
      tags:
      - "adcreatives"
      summary: "获取广告创意"
      operationId: "adcreatives_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "is_deleted"
        in: "query"
        required: false
        type: "boolean"
        x-exportParamName: "IsDeleted"
        x-optionalDataType: "Bool"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /pages/get:
    get:
      tags:
      - "pages"
      summary: "获取落地页列表"
      operationId: "pages_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "promoted_object_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "PromotedObjectType"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/PagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_pages/add:
    post:
      tags:
      - "wechat_pages"
      summary: "创建微信落地页"
      operationId: "wechat_pages_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/WechatPagesAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatPagesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_pages/delete:
    post:
      tags:
      - "wechat_pages"
      summary: "删除微信落地页"
      operationId: "wechat_pages_delete"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/WechatPagesDeleteRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatPagesDeleteResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /wechat_pages/get:
    get:
      tags:
      - "wechat_pages"
      summary: "获取微信落地页列表"
      operationId: "wechat_pages_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/WechatPagesGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /android_union_channel_packages/add:
    post:
      tags:
      - "android_union_channel_packages"
      summary: "添加广告渠道包"
      operationId: "android_union_channel_packages_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AndroidUnionChannelPackagesAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AndroidUnionChannelPackagesAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_previews/add:
    post:
      tags:
      - "adcreative_previews"
      summary: "创建预览"
      operationId: "adcreative_previews_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/AdcreativePreviewsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativePreviewsAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /adcreative_previews/get:
    get:
      tags:
      - "adcreative_previews"
      summary: "获取预览受众"
      operationId: "adcreative_previews_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "filtering"
        in: "query"
        required: true
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdcreativePreviewsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /fund_transfer/add:
    post:
      tags:
      - "fund_transfer"
      summary: "发起代理商与子客户之间转账"
      operationId: "fund_transfer_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/FundTransferAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/FundTransferAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /advertiser/get:
    get:
      tags:
      - "advertiser"
      summary: "获取广告主信息"
      operationId: "advertiser_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
        x-optionalDataType: "Int64"
      - name: "filtering"
        in: "query"
        required: false
        type: "array"
        items:
          $ref: "../common.json#/definitions/filtering_struct"
        collectionFormat: "multi"
        x-exportParamName: "Filtering"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/AdvertiserGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /funds/get:
    get:
      tags:
      - "funds"
      summary: "获取资金账户信息"
      operationId: "funds_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/FundsGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /fund_statements_detailed/get:
    get:
      tags:
      - "fund_statements_detailed"
      summary: "获取资金流水"
      operationId: "fund_statements_detailed_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "fund_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "FundType"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "#/definitions/date_range_transaction"
        x-exportParamName: "DateRange"
      - name: "page"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "Page"
        x-optionalDataType: "Int64"
      - name: "page_size"
        in: "query"
        required: false
        type: "integer"
        format: "int64"
        x-exportParamName: "PageSize"
        x-optionalDataType: "Int64"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/FundStatementsDetailedGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /fund_statements_daily/get:
    get:
      tags:
      - "fund_statements_daily"
      summary: "获取资金账户日结明细"
      operationId: "fund_statements_daily_get"
      consumes:
      - "text/plain"
      produces:
      - "application/json"
      parameters:
      - name: "account_id"
        in: "query"
        required: true
        type: "integer"
        format: "int64"
        x-exportParamName: "AccountId"
      - name: "fund_type"
        in: "query"
        required: true
        type: "string"
        x-exportParamName: "FundType"
      - name: "date_range"
        in: "query"
        required: true
        type: "object"
        items:
          $ref: "../common.json#/definitions/date_range"
        x-exportParamName: "DateRange"
      - name: "trade_type"
        in: "query"
        required: false
        type: "string"
        x-exportParamName: "TradeType"
        x-optionalDataType: "String"
      - name: "fields"
        in: "query"
        description: "返回参数的字段列表"
        required: false
        type: "array"
        items:
          type: "string"
        collectionFormat: "multi"
        x-exportParamName: "Fields"
      responses:
        "200":
          schema:
            $ref: "#/definitions/FundStatementsDailyGetResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /batch_operation/add:
    post:
      tags:
      - "batch_operation"
      summary: "创建批量操作(待废弃)"
      operationId: "batch_operation_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/BatchOperationAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
            $ref: "#/definitions/BatchOperationAddResponse"
      security:
      - accessToken: []
      - timestamp: []
      - nonce: []
  /targetings/add:
    post:
      tags:
      - "targetings"
      summary: "创建定向"
      operationId: "targetings_add"
      consumes:
      - "application/json"
      - "application/xml"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "data"
        required: true
        schema:
          $ref: "#/definitions/TargetingsAddRequest"
        x-exportParamName: "Data"
      responses:
        "200":
          schema:
[...]
